@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($property: all) {
  transition: $property 0.3s ease;
}

@mixin hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
} 