// Colors
$primary-color: #d4af37;
$background-color: rgba(0, 0, 0, 0.8);
$text-color: #fff;

// Typography
$primary-font: 'Zen Old Mincho', serif;
$secondary-font: 'Zen Dots', cursive;
$base-font-size: 15px;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;